div.ng-searchbox-added-filter(
  #ngSearchboxAddedFilter=""
)
  div.filter-section.operators(
    *ngIf="searchbox && searchbox.ngSearchBoxEnableFilterOperators"
  )
    ng-searchbox-filter-operators(
      [filter]="filter"
    )
  div.ng-searchbox-added-filter-contents(
    (click)="openFilter();"
  )
    span(
      class="filter-name",
      [innerText]="filter.displayName + ':'"
    )
    div.filter-section.selectors(
      *ngIf="filter && filter.selector",
      (click)="toggleFilterSelectors();"
    )
      span(
        class="selector-type",
        [innerText]="filter.selector.name"
      )
    div.filter-section(
      *ngIf="filter && filter.value && !filter.editing"
    )
      span.filter-value([innerText]="filter.value")
    div.filter-section(
      *ngIf="filter && !filter.value && !filter.editing"
    )
      span.filter-value Empty
    div.filter-section(
      *ngIf="filter && filter.editing"
    )
      input(
        type="text",
        [(ngModel)]="v",
        (ngModelChange)="valueChange($event);",
        (keydown)="onKeyDown($event);",
        (keyup)="onKeyUp($event);"
      )
    span(
      (click)="destroy();"
    ).filter-destroy
      i.fa.fa-times
    ng-searchbox-filter-selectors(
      #ngFilterSelectors="",
      [filter]="filter"
    )
